 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

:root {
  --header-font: "Outfit",serif;
  --main-font: "Inter",serif; 
 }

main {
  font-family: var(--main-font);
}

button {
  width: 4.2rem;
  height: 1.4rem;
  margin-right: 0.4rem;
  border-style: none;
  background-color: #ffe796;
}

.green:hover {
  background-color: #A0C878;
}

.red:hover {
  background-color: #D84040;
}

h1 {
  color: #C14600;
  font-family: var(--header-font);
  padding-bottom: 0.4rem;
  font-size: 2.4rem;
}

h2 {
  font-family: var(--header-font);
  padding-bottom: 0.4rem;
  font-size: 1.6rem;
}

h3 {
  font-family: var(--header-font);
  font-size: 1.4rem;
}

h4 {
  font-family: var(--header-font);
  font-size: 1.2rem;
}

ul {
  padding-left: 1.25rem;
}